{% extends "layout.html" %}

{% block content %} 


<hr>

<div class="container blog-previews">
    <h3> Recent Blog Posts </h3>
    <div class="row blog-row">
        <div class="col-lg-4 col-md-6 mb-3 d-flex">
            <div class="card blog-post w-100" style="width: 18rem;">
                <img src="https://media1.giphy.com/media/N3yLGQ1oMYfGU/giphy.gif?cid=ecf05e47mpgeispxpxpv9jvtivser94v6ytci5iirujs9ffv&ep=v1_gifs_search&rid=giphy.gif&ct=g" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How to get 2.6k in AWS Debt</h5>
                  <p class="card-text">Fun fact, I actually have the highest AWS debt at CPP.</p>
                  <a href="#" class="btn btn-light">Read</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-3 d-flex">
            <div class="card blog-post w-100" style="width: 18rem;">
                <img src="https://media1.giphy.com/media/N3yLGQ1oMYfGU/giphy.gif?cid=ecf05e47mpgeispxpxpv9jvtivser94v6ytci5iirujs9ffv&ep=v1_gifs_search&rid=giphy.gif&ct=g" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How to be SWIFT President</h5>
                  <p class="card-text">This was not my idea. Running a student organization is hard.</p>
                  <a href="#" class="btn btn-light">Read</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-3 d-flex">
            <div class="card blog-post w-100" style="width: 18rem;">
                <img src="https://media1.giphy.com/media/N3yLGQ1oMYfGU/giphy.gif?cid=ecf05e47mpgeispxpxpv9jvtivser94v6ytci5iirujs9ffv&ep=v1_gifs_search&rid=giphy.gif&ct=g" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How I created a racist AI</h5>
                  <p class="card-text">Uh oh. Sentimental analysis is pretty funny until its atrociously racist.</p>
                  <a href="#" class="btn btn-light">Read</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        
    </div>
    <div class="row">
        
    </div>
</div>
{% endblock %}